
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(242, 240, 227);
}

header {
    position: fixed;
    box-shadow: 0px 4px 7px 0 rgb(131, 126, 120);
    background-color: ivory;
    width: 100%;
    height: 18%;
}

.rrow {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
}

header a {
    text-decoration: none;
    color: rgb(71, 65, 54);
}

.rrow2 {
    width: 20px;
    height: 20px;
}

.back {
    float: left;
    position: relative;
    top: 30%;
}

.next {
    float: right;
    position: relative;
    top: 30%;
}

main {
    top: 80px;
}

main p {
    width: 70%;
    margin-left: 15%;
    color: rgb(71, 65, 54);
}

main h1 {
    margin-left: 20%;
    color: rgb(32, 30, 26);
}

footer {
    margin-top: 40px;
    background-color: ivory;
    width: 100%;
}

footer p {
    padding: 100px;
        margin-left: 3%;
            margin-bottom: 40px;
            color: rgb(138, 121, 100);
}
